.password-policy li{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:12px;
    transition:all .35s ease;
}

.password-policy li i{
    width:18px;
    height:18px;
    transition:all .35s ease;
}

.password-policy li.valid{
    color:#198754;
    transform:translateX(6px);
}

.password-policy li.valid i{
    color:#198754;
    transform:scale(1.25) rotate(360deg);
}

.password-policy li.invalid{
    color:#6c757d;
}

/* Readonly input */
.form-control:read-only,
.form-select:disabled,
input[readonly] {
    background-color: #f8f9fa;
    color: #495057;
    border-color: #ced4da;
    cursor: not-allowed;
    opacity: 1; /* Prevent Bootstrap from fading it */
}

/* Placeholder color */
.form-control:read-only::placeholder {
    color: #6c757d;
}

.input1{
    padding: 10px 30px !important;
}

/*
|--------------------------------------------------------------------------
| Activity Timeline
|--------------------------------------------------------------------------
*/

.activity-timeline{

    height:500px;

    overflow-y:auto;

    overflow-x:hidden;

    padding-right:8px;

    scroll-behavior:smooth;

}

/*
|--------------------------------------------------------------------------
| Scrollbar
|--------------------------------------------------------------------------
*/

.activity-timeline::-webkit-scrollbar{

    width:6px;

}

.activity-timeline::-webkit-scrollbar-track{

    background:#f1f5f9;

    border-radius:10px;

}

.activity-timeline::-webkit-scrollbar-thumb{

    background:#cbd5e1;

    border-radius:10px;

}

.activity-timeline::-webkit-scrollbar-thumb:hover{

    background:#94a3b8;

}