.password-policy li{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:12px;
    transition:all .35s ease;
}

.password-policy li i{
    width:18px;
    height:18px;
    transition:all .35s ease;
}

.password-policy li.valid{
    color:#198754;
    transform:translateX(6px);
}

.password-policy li.valid i{
    color:#198754;
    transform:scale(1.25) rotate(360deg);
}

.password-policy li.invalid{
    color:#6c757d;
}

/* Readonly input */
.form-control:read-only,
.form-select:disabled {
    background-color: #f8f9fa;
    color: #495057;
    border-color: #ced4da;
    cursor: not-allowed;
    opacity: 1; /* Prevent Bootstrap from fading it */
}

/* Placeholder color */
.form-control:read-only::placeholder {
    color: #6c757d;
}